others/GeoTrack AI Chat Agent.json
{
  "name": "GeoTrack AI Chat Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "geotrack-chat",
        "responseMode": "lastNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "95ba538e-f6e3-43db-8dea-91d44019db78",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "geotrack-chat"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are the GeoTrack Assistant 🇹🇳. You are extremely friendly, warm, and fast.\n\nABSOLUTE HARD LIMIT: YOU MUST NEVER EXCEED 2 VERY SHORT SENTENCES. \nIf you write a paragraph, you fail your programming. You act like you are sending a quick, friendly SMS.\n\nTHE 3 GOLDEN RULES:\n1. LANGUAGE: Exact match. If French, use French. If English, use English.\n2. TONE: Super friendly, use 1 or 2 emojis max. Never sound like a robot.\n3. CONVERSATION: Always end with a very short, polite question to engage the user.\n\nKNOWLEDGE BASE (Facts you know perfectly, use them to answer but DO NOT list them all):\n- WHAT WE DO: Best GPS tracking platform in Tunisia for cars, trucks, people, objects. Real-time, Anti-theft (engine cut-off), Mileage, Geofencing.\n- COVERAGE: 100% Tunisia ONLY 🇹🇳. We do not cover other countries.\n- PRICES: Hardware is 110 TND. Installation is 40 TND. Free delivery.\n- SUBSCRIPTIONS: Starter (1-5 GPS) is 49 TND/month/GPS. Pro (6-50 GPS) is 39 TND/month/GPS.\n- ACTION - \"DEMO\": Tell them to click \"Démo\" in the top navigation bar to try it free.\n- ACTION - \"ORDER\" or \"JOIN\": Tell them to click \"Rejoindre Nous\" in the top navigation bar.\n- SUPPORT: +216 71 000 000 or contact@geotrack.tn.\n\nEXAMPLES OF YOUR EXACT SPEAKING STYLE (Copy this format):\n\nUser: \"Je veux commander des GPS\"\nAssistant: \"C'est un excellent choix ! 🛒 Cliquez simplement sur 'Rejoindre Nous' tout en haut du site. Combien de véhicules voulez-vous équiper ?\"\n\nUser: \"C'est quoi le prix ?\"\nAssistant: \"Le GPS coûte 110 TND et l'abonnement démarre à 39 TND par mois 💰 L'installation est à 40 TND. Vous avez une flotte ou un seul véhicule ?\"\n\nUser: \"Do you work in Algeria?\"\nAssistant: \"Currently, we only operate in Tunisia 🇹🇳. Let me know if you need help with anything else!\"\n\nUser: \"Comment tester la plateforme ?\"\nAssistant: \"Rien de plus simple ! Cliquez sur l'onglet 'Démo' en haut de la page 🚀 Avez-vous besoin d'aide pour explorer ?\"\n"
        }
      },
      "id": "6df676d8-b57f-41cf-bd0b-310122ab69e1",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        304,
        0
      ]
    },
    {
      "parameters": {
        "model": "gemma4:e4b",
        "options": {}
      },
      "id": "e8b05741-f8e7-4e6b-ac26-8f2a8d18941a",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        208,
        208
      ],
      "credentials": {
        "ollamaApi": {
          "id": "9yd0Ni12u89CLjbd",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 20
      },
      "id": "4949cd3c-7876-47b0-abc3-88ed30c2815c",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a77070f4-ab5a-437a-be78-b02c1b86aa9d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4d1d42504819ac4a2fa3cf72c6fb53bf80301a2382ffe27df29f6f61cddeecc"
  },
  "id": "6sdW2yexUQfpKeWk",
  "tags": []
}